// COLORS
$light-grey: #F4F6F7;
$light-blue: #A6C0C9;
$main-blue: #2E6678;
$main-purple: #858FBE;
$light-purple: #DADCE7;
$purple: #394683;
$textColor: #334455;

//FONTS
$h1Font: 'Pacifico', sans-serif;
$h2Font: 'Handlee';
$h3Font: 'News Cycle', sans-serif;
$textFont: 'Lato', sans-serif;
