@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/basscss/css/basscss.min.css';
@import './_variables';

// GENERAL
h3 {
  color: #394683;
  font-family: $h3Font;
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
}

body {
  color: #334455;
  margin: 0;
  font-family: $textFont;
}

a {
  color: #073949;
  &:visited {
    color: #073949;
  }
  &:active {
    color: #334455;
  }
}




