@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/basscss/css/basscss.min.css';
@import './_variables';

// GENERAL
h3 {
  color: #394683;
  font-family: $h3Font;
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
}

p {
  font-size: 12pt;
}

body {
  color: $textColor;
  margin: 0;
  font-family: $textFont;
}

a {
  color: $main-blue;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $main-blue;
  }
  &:active {
    color: $main-blue;
  }
}

.upper {
  text-transform: uppercase;
}

.title {
  font-size: 1.45em;
  opacity: .5;
  margin-left: 20px;
  text-align: left;
}

.icon {
  border: 3px solid black;
  border-radius: 100%;
  opacity: .3;
  padding: 10px;
}





