
.first-column {
  position: relative;
  .icon {
    width: 8%;
  }
}

.school, .design, .resume {
  margin-top: 30px;
}

.second-column {
  .icon {
    width: 15%;
  }
}

.work-school-title {
  display: inline-block;
  width: 85%;
  border-bottom: 3px solid lightgray;
  padding-bottom: 10px;
}

.icon, .resume-title {
  vertical-align: middle;
}

.resume-year {
  margin-top: 50px;
  width: 63px;
  line-height: 58px;
  text-align: center;
  background: #4E8293;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #FFF;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1px;
}

#iron-yard, #umass {
  .resume-year {
    margin-top: 50px;
  }
}

.resume-item {
  border: 5px solid #F4F6F7;
  border-radius: 4%;
  margin-left: 50px;
  padding: 10px;
  letter-spacing: 1px;
  width: 70%;
  span {
    color: #4E8293;
    font-size: 1.25em;
    font-weight: bold;
  }
  .company {
    opacity: .5;
    font-size: 1em;
    font-weight: bold;
  }
}

#techsoft, #cti, #iron-yard, #umass {
  margin-top: 30px;
  margin-left: 1px;
}

.skills {
  margin-top: 30px;
  p {
    color: #fff;
    background-color: #A6C0C9;
    font-size: 12px;
    padding: 3px;
    padding-left: 10px;
    border: 1px solid #fff;
    border-radius: 4%;
    letter-spacing: 1px;
  }
}

