.contact-wrapper {
  width: 80%;
  margin: 10px auto;
}

.contact-description {
  p {
    margin: 25px;
  }
}

.contact-title {
  display: inline-block;
  width: 85%;
  border-bottom: 3px solid lightgray;
  padding-bottom: 10px;
}

.contact-list {
  margin-top: 20px;
  list-style-type: none;
  li {
    margin: 10px;
    a {
      padding-left: 10px;
      font-size: 14pt;
      font-weight: 400;
    }
  }
}