.contact-wrapper {
  width: 80%;
  margin: 10px auto;
}

.contact-description {
  p {
    margin-top: 20px;
  }
}

.contact-title {
  display: inline-block;
  width: 85%;
  border-bottom: 3px solid lightgray;
  padding-bottom: 10px;
}